{% extends "base.html" %}
{% block content %}

<div class="ac">
<p style="font-size: 17px;">小松駅西口から約徒歩３分</p>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51380.76174919022!2d136.40993568563!3d36.40199422476412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8510098cfdec5%3A0x904b7a038feb16b5!2z5qyn6aKo6aOf5aCC44Or44O844OB44Kn!5e0!3m2!1sja!2sjp!4v1751029484038!5m2!1sja!2sjp" 
allowfullscreen=""
    loading="lazy"></iframe>



<p>
  <a href="https://www.instagram.com/luce_kmt/" target="_blank" rel="noopener noreferrer"
  class="google-map">
    Instagramアカウントあります！
  </a><br>

住所　石川県小松市土居原町187-4<br>
TEL　0761-48-4343<br>
お店の裏手に駐車場ございます。お車でお越しになる際はぜひご利用ください♪
</p>

</div>
{% endblock %}