{% extends "base.html" %}
{% block content %}

<div class="cou">

<h2>大皿プランについて</h2>
<p>6名様以上の団体様向けのお料理コースです。<br>
  宴会などにうってつけの飲み放題付きのプラン対応可能です。<br>
お一人様　3,300円～
</p>

</div>

<table>
  <tr>
    <th>通常</th>
    <th>ローストポーク付き</th>
    <th>サーロインステーキ付き</th>
  </tr>

  <tr>
    <td>3,300円</td>
    <td>3,800円</td>
    <td>4,400円</td>
  </tr>
</table>

<div class="cou">
  <h4 calss="naiyou">料理内容</h4>
  <p calss="ryouri">  
    前菜プレート<br>
    サラダ<br>
    アヒージョ<br>
    ピザ<br>
    パスタ<br>
    (お肉料理)
  </p>

<p>料理変更やご予算の相談もお受けできますのでお気軽にお問い合わせください。<br>
  上記に＋2,500円で2時間の飲み放題お付けできます。<br>
  例：１０名様、ローストポーク、飲み放題付きの場合→6,300円×10=63,000円<br>
  例：パスタからパエリアに料理変更  等
</p>

<p>上限人数…1階MAX38名<br>
  2階MAX10名
</p>



<p>※表示価格はお一人様当たりの税込み価格です。<br>
  ※飲み放題の際は、グラス交換制、飲み残しがないようにご協力をお願いします。<br>
  ※お席の時間を3時間とさせていただいております。<br>
  スタッフからのお声掛けがあった際はご理解とご協力をお願い申し上げます。
  </p>


  </div>
{% endblock %}
