{% extends "base.html" %}
{% block content %}

<div class="syo-kai">
  
  <h2>小松の欧風食堂LUCE <span style="font-size: 1rem;">≪ルーチェ≫</span></h2>

  <p>ルーチェは厳選した食材を、フレンチ・イタリアン・和食の調理法を融合させた創作料理でお楽しみいただけます。<br>
    特に地元石川県の食材は直接農家さんや牧場を訪ね選んだこだわりの食材を厳選しました。<br>
    かしこまらず・肩肘張らない・家庭のような雰囲気を大切にしていきたいと思います。<br>
  </p>
  <p class="papa">
    株式会社　ラミティエ<br>
    代表　光安健一<br>
  </p>
</div>
  <table>
  <tr>
    <th>営業開始時間</th>
    <th>フードラストオーダー</th>
    <th>ドリンクラストオーダー</th>
    <th>定休日</th>
  </tr>

  <tr>
    <td>18:00～</td>
    <td>23:00</td>
    <td>23:30</td>
    <td>日曜日</td>
  </tr>
</table>  

  <table class="nikome">
  <tr>
    <th>住所</th>
    <th>電話番号</th>
  </tr>

  <tr>
    <td>石川県小松市土居原町187-4</td>
    <td>0761-48-4343</td>
  </tr>
</table>  




{% endblock %}
